application/__pycache__
application/auth/__pycache__
application/auth/formulario/__pycache__
application/auth/models/__pycache__
application/auth/models/entities/__pycache__
application/error/__pycache__
application/config/configuration.cfg
application/carrito/__pycache__
application/bienvenida/__pycache__
application/ganaderia__pycache__
application/gatos/__pycache__
application/nosotros/__pycache__
application/perros/__pycache__
application/perros/models/entities/__pycache__
application/servicios/__pycache__
application/servicios/formulario/__pycache__
__pycache__/
application\config\__pycache__
logs\app.log
