{% extends './base_template.html' %}

{%block title%}
{{data.titulo}}
{%endblock%}

{% block body %}

<div class="container mt-4">
    <div class="card">
        <div class="card-header letraMediana text-center">Ingresa a tu cuenta o crea una nueva</div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6 col-md-3 my-4 letraGrisMediana">
                    ¿Ya eres cliente?, Ingresa a tu cuenta
                    <hr>
                    <p class="mt-2 requerido">
                        * Campos obligatorios
                    </p>
                    <p class="letraGris">
                        Si ya tienes una cuenta con nosotros, ingresa con tu dirección de correo electrónico
                    </p>
                    <form action="/auth/login" method="post" novalidate>
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <strong>{{ message }}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {%endfor%}
                        {%endif%}
                        {%endwith%}
                        <div>
                            <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                            <label for="correo" class="form-label mt-2 letraGrisMediana"><b>Correo electrónico </b><b
                                    class="requerido">*</b></label>
                            {{ form.email(class="form-control", autocomplete='off') }}
                            {% if form.email.errors %}
                            {% for error in form.email.errors %}
                            <label class="requerido">* {{ error }}</label>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div>
                            <label for="correo" class="form-label mt-4 letraGrisMediana"><b>Contraseña</b> <b
                                    class="requerido">*</b></label>
                            {{ form.password(class="form-control", autocomplete='off') }}
                            {% if form.password.errors %}
                            {% for error in form.password.errors %}
                            <label class="requerido">* {{ error }}</label>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <input type="hidden" name="next" value="{{ request.args.get('next') }}">
                        <div class="d-flex justify-content-end mt-4">
                            <button class="btn botonCuatro">Ingresar</button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6 col-md-3 my-4 letraGrisMediana">
                    Crea una cuenta
                    <hr>
                    <p class="letraGris">
                        Puedes crear una cuenta aquí o cuando estes realizando tu primera compra. Al crear una cuenta
                        podrás
                        realizar tus compras más rápido.
                    </p>
                    <a href="/auth/account" class="btn botonCuatro">Crea una cuenta</a>
                </div>
            </div>

        </div>
    </div>
</div>



{% endblock %}